.gallery > li {
    display: flex;
    flex-direction: column;
    row-gap: var(--gallery-li-row-gap);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: var(--gallery-row-gap);
}

a {
    text-align: center;  
    color: var(--color-text);
    font-size: 17px;
}

header {
    text-align: center;
    border-style: double;
    background-color: var(--color-text);
    font-family: var(--font-family-display);
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    border-style: double;
    background-color: var(--color-text);
}

body {
    font-family: var(--font-family-body);
    background-color: var(--color-background-page);
}

img {
    border-style: ridge;
    border-radius: 12px;
    background-color: white;
}

