header {
    background-color: var(--color-dendro);
    color: var(--color-text);
    text-align: center;
    font-family: var(--font-family-display);
    font-size: 20px;
    padding: 10px;
}

h3 {
    color: var(--color-text);
    background-color: var(--color-navy);
    font-size: 20px;
    padding: 13px;
    padding-left: 30px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

body {
    font-family: var(--font-family-body);
}

li {
    text-align: center;
    font-size: var(--font-size-tiny);
}

.gallery > li {
    display: flex;
    flex-direction: column;
    row-gap: var(--gallery-li-row-gap);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: var(--gallery-row-gap);
}

.gallery img {
    height: var(--img-height);
    width: var(--img-width);
    object-fit: cover;
}

img {
    border: 2px ridge var(--color-dendro);
    border-radius: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h4 {
    padding-left: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}

p {
    padding-left: 35px;
    margin-bottom: 30px;
    font-size: var(--font-size-tiny);
}

.artifact {
    text-align: center;
    font-size: 25px;
    padding: 25px;
}

.centerText {
    padding-left: 0;
}

