header {
    background-color: var(--color-electro);
    color: var(--color-text);
    text-align: center;
    font-family: var(--font-family-display);
}

h3 {
    color: var(--color-text);
    background-color: var(--color-navy);
}

body {
    font-family: var(--font-family-body);
}

