:root {
    --color-background-page: #495670;
    --color-text: #FFFFFF;
    --font-family-body: Karma, "Lucida Bright", "Times New Roman", serif;
    --font-family-display: Nunito, "Lucida Grnade", "Trebuchet MS", sans-serif; 
}