:root {
    --color-background-page: #495670;
    --color-text: #FFFFFF;
    --font-family-body: Karma, "Lucida Bright", "Times New Roman", serif;
    --font-family-display: Nunito, "Lucida Grnade", "Trebuchet MS", sans-serif; 
    --font-size-tiny: 17px;

    --color-geo: #dcac37;
    --color-pyro: #a90e09;
    --color-cryo: #4682B4;
    --color-hydro: #0098ff;
    --color-dendro: #608a00;
    --color-anemo: #359697;
    --color-electro: #945dc4;

    --color-navy: #3853a3;

    --img-height: 256px;
    --img-width: 256px;
    --img-border-radius: 12px;
    --img-ridge: 2px;

    --gallery-li-row-gap: 5px;
    --gallery-row-gap: 30px;

    --artifact-font-size: 25px;
    --artifact-padding: 25px;

    --artifact-substat-title-font-size: 22px;
    --artifact-substat-padding-left: 30px;
    --artifact-substat-margin-bottom: 30px;
    --artifact-p-padding-left: 35px;

    --character-header-font-size: 20px;
    --character-header-padding: 10px;

    --character-subheader-font-size: 20px;
    --character-subheader-padding: 13px;
    --character-subheader-padding-left: 30px;
    --character-subheader-margin-top: 10px;
    --character-subheader-margin-bottom: 30px;
}